/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: pink;
  }
  
  header {
    background: rgb(153, 60, 133);
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(17, 11, 11);
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
